.flex-all-center{
    display: flex;
justify-content: center;
align-items: center;
}
.btn{
    padding: 5px 10px;
    background-color: white;
    border: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    
}
.my-2{
    margin: 27px 0;
}
.text-center{
    text-align: center;
}